*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root{
    --activeColor: white !important;
    --activeBG-1: #BB2966;
    --activeBG-2: #3374e4;
    --activeBG-3: #caccd0;
}
/* tag */
p{
  font-size: 20px;
  line-height: 30px;
  font-weight: 200 !important;
}
/* some class */
.header {
    display: flex;
    justify-content:space-between;
    gap: 10px;
    width: 100%;
    height: 40px;
    line-height: 40px;
    padding: 0 4%;
    z-index: 4;
    background-color: #01071b;
    position: fixed;
    top: 0;
    /* border: 2px solid #dab20e; */
}

.text-white{
    color: white !important;
}
.header a{
    color: aliceblue;
    text-decoration: none;
    padding:5px;
    border-radius: 5px;
    text-align: center;
    /* margin-left: 10px; */
}
.heading{
  color: red;
}
.center{
  text-align: center;
}
.m-auto{
  margin: auto;
}
.mt-5px{
  margin-top: 5px;
}
.mt-10px{
  margin-top: 10px;
}
.my-10px{
  margin-top: 10px;
  margin-bottom: 10px;
}
.p-10px{
  padding: 10px;
}
.active{
    background-color: var(--activeBG-1);
    color: var(--activeColor);
}
.leftBar {
    height: 100%;
    width: 20%;
    background-color: #ece7e7;
    z-index: 3;
    position: fixed;
    top: 40px;
    left: 0;
    overflow: auto;
    padding: 5px 0 5% 0;
}
.sidebarHeading{
  color: red;
  text-align: center;
}
.leftBar a{
  display: inline-block;
  width: 100%;
  padding:5px 5px 5px 10%;
  text-decoration: none;
}
.content{
    /* width: 80%; */
    height: 100%;
    position: relative;
    top:40px;
    /* left: 20%; */
    z-index: 2;
    /* margin-left: 15%; */
    padding: 0px 10px 20px 10px;
    overflow: auto;
}
.footer{
    width: 80%;
    position: relative;
    bottom:0;
    left: 20%;
    z-index: 2;
    /* margin-left: 15%; */
    padding: 0px 10px 20px 10px;
    overflow: auto;
}
/* Color */
.greenyellow{
  color: greenyellow !important;
}
.black{
  color: black;
}
.blue{
  color: blue;
}
.red{
  color: red;
}
/* About Blog */
.id{
  font-size: 30px;
  font-weight: bold;
  text-align: center;
  color: red;
  border-radius: 8px;
  /* background: #000000; */
}
.mark{
  background: #d0e98c;
}
.code{
  width: auto;
  padding: 10px;
  /* background-color: #fff; */
  background: rgb(1, 9, 19);
  color: #f7f4f1;
  /* padding: 8px 12px; */
  border-left: 4px solid #4CAF50;
  word-wrap: break-word;
  font-size: 15px;
  font-weight: 100;
  overflow: auto;
}
.code-highlight{
  width: auto;
  color: #0f0e0e;
  padding: 0 4px;
  background: rgb(240, 240, 233);
  word-wrap: break-word;
  font-size: 15px;
  font-weight: 100;
  overflow: auto;
}
.npmCode{
  width: auto;
  /* background-color: #fff; */
  background: rgb(63, 57, 57);
  color: #f5f0f0;
  padding: 8px 12px;
  border-left: 4px solid #4CAF50;
  word-wrap: break-word;
  font-size: 25px;
}
.topic-border{
  border: 5px solid red;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}
.topic{
  border: 5px solid red;
  border-radius: 5px;
  margin-top: 10px;
  padding: 10px;
}
.overflow-auto{
  overflow: auto;
}
.to_jump{
	/* display: inline-block; */
    padding-top: 50px;
    text-decoration: none;
  }
  /* Some Tag */
  /* h2 {
    color: red;
    font-size: 1.5em !important;
    font-weight: 600 !important;
    margin-bottom: 15px !important;
} */

/* h2 a, h3 a {
font-size: 30px;
color: #002bff !important;
text-decoration: none;
}
h1, h2{
margin-top: 0;
} */
   /* Accordion */
.accordion {
    cursor: pointer;
    margin-bottom: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
}
  
  .Acc_active, .accordion:hover {
    background-color: #BB2966;
    color: #fff;
  }
  .accordion:hover .itc{
    color: #0ef49c !important;
  }
  
  .accordion:after {
    content: '\002B';
    font-weight: bold;
    float: right;
    margin-left: 5px;
}
  
  .Acc_active:after {
    content: "\2212";
  }
  
  .panel {
    display: none;
  }
  /* Accordion End */